{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="ten columns alpha">
    <h1>{% trans "Django Mango" %}</h1>
    <p>{% trans "More Mango, less Django!" %}</p>
</div>
<div id="login" class="six columns omega">
    {% if user.is_authenticated %}
        {% blocktrans with username=user.username %}
            Signed in as {{ username }}
        {% endblocktrans %}
    {% else %}
    <ul>
        <li>
            <a href="{% url socialauth_begin 'twitter' %}">{% trans "Login with Twitter" %}</a>
        </li>
        <li>
            <a href="{% url socialauth_begin 'facebook' %}">{% trans "Login with Facebook" %}</a>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock content %}