{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $("input[name=is_extreme]").click(function() {
            if ($(this).attr("checked") == "checked") {
                $(this).parents(".field-wrapper").next().hide();
            }
            else {
                $(this).parents(".field-wrapper").next().show();
            }
        });
    });
</script>
{% endblock javascript %}

{% block content %}
<div id="proposal-create">
    <fieldset>
        <legend>{% trans "Submit Proposal" %}</legend>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include "includes/field.html" %}
            {% endfor %}
            <div class="form-actions">
                <button>{% trans "Submit" %}</button>
            </div>
        </form>
    </fieldset>
</div>
{% endblock content %}