{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{% trans "Django Mango" %}</title>
    <meta name="description" content="{% trans "More Mango, less Django!" %}">
    <meta name="author" content="{% trans "PyPUG Team" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

</head>
<body>

    <div id="header" class="container">
        <div class="ten columns alpha">
            <h1><a href="{% url home %}">{% trans "Django Mango" %}</a></h1>
            <p>{% trans "More Mango, less Django!" %}</p>
        </div>
        <div id="login" class="six columns omega">
            {% if user.is_authenticated %}
                {% blocktrans with username=user.username %}
                    Signed in as {{ username }}
                {% endblocktrans %}
            {% else %}
            <ul>
                <li>
                    <a href="{% url socialauth_begin 'twitter' %}">{% trans "Login with Twitter" %}</a>
                </li>
                <li>
                    <a href="{% url socialauth_begin 'facebook' %}">{% trans "Login with Facebook" %}</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="container">

        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div><!-- container -->

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>